<h1><%= @client.first_name+" "+@client.last_name %></h1>
<p>Email: <%= @client.email %></p>
<p>CPF: <%= @client.cpf %></p>
<p>Telefone: <%= @client.telephone %></p>
<p>Endereço: <%= @client.address %></p>
